<head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="container">
            <form >
                <div class="form-group">
                   <label for="userId">userId</label>
                   <input type="number" class="form-control" id="userId" [(ngModel)]="userId" name="userId">
    
                </div>
                <div class="form-group">
                    <label for="name">Student Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
     
                 </div>
                 <div class="form-group">
                    <label for="marks">marks</label>
                    <input type="number" class="form-control" id="marks" [(ngModel)]="marks" name="marks">
     
                 </div>
                 <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
     
                 </div>
                 
                
     
                 
                 <div>
                     <button class="btn btn-primary" type="submit" (click)="updateData(userId)">Update</button>
                 </div>
    
                
            </form>
        </div>
        </div>
    </div>
    </body>
